# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/*.g.dart
**/*.freezed.dart

# Firebase / Node
functions/node_modules/
functions/lib/
firebase-debug.log
firebase-debug.*.log
.firebase/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
