rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner() {
      return request.auth != null && request.auth.uid == "YOUR_ADMIN_UID";
    }

    match /products/{productId} {
      allow read, write: if isOwner();
    }
    match /orders/{orderId} {
      allow read, write: if isOwner();
    }
    match /settings/{docId} {
      allow read, write: if isOwner();
    }

    match /products_public/{productId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
